.hero-container {
  flex: 1 0 auto;
  margin-top: 8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: auto;

  &__title {
    font-size: 6rem;
    font-weight: 600;
    color: $purple;
    padding-bottom: 5rem;
    font-family: "Roboto Mono", monospace;

    @include respond(phone) {
      font-size: 4.5rem;
      padding-bottom: 4rem;
    }
  }

  &__description {
    font-size: 2.6rem;
    width: 70%;
    color: $grey;

    @include respond(small-desktop) {
      width: 80%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }
}
